@import "tailwindcss";

/* Global container for all components */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.35rem; /* Adds spacing on small screens */
}

.bg-school {
  background-color: #0A4076;
}
